* {
  padding: none;
  margin: none;
  box-sizing: border-box;
}

.a {
  color :#d22b3e
}

a {
  text-decoration: none;
  color: #f4f4f4;
}

.form-style {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  gap: 20px;
}

::-webkit-scrollbar {
  width: 4px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #9c9c9c;
  border-radius: 10px;
  height: 200px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #D05270;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}